@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
  font-family: 'Oswald', sans-serif;
  background-color: #fafafa;
}
.navbar {
  display: flex;
  background-color: rgb(49, 29, 134);
  justify-content: center;
  align-items: center;
  top: 0;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  z-index: 1;
  
}

.container {
  top: 20vh;
  position: relative;
  display: flex;
  min-height: 90vh;
  height: fit-content;
  
  
}

.table-product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product{
  border-radius: 6px;
  box-shadow: -4px -4px 12px 1px rgba(0,0,0,0.10);
  width: 31%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;

}
.image{
  width: 60%;
}
.price{
  font-size: 18px;
  font-weight: 700 ;
  
}
.name{
  font-size: 20px;
  font-weight: 700 ;
  
  padding-top: 10px;
}
.category{
  padding-bottom: 10px;
  font-weight: 600;
}